XSD/account.xml

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!-- Root element -->
    <xs:element name="UserAccount">
        
        <xs:complexType>
            <xs:sequence>

                <xs:element name="FirstName" type="xs:string"/>

                <xs:element name="LastName" type="xs:string"/>

                <xs:element name="Email">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:pattern value="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>

                <xs:element name="ContactNumber" minOccurs="0">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:pattern value="[0-9]{7,15}"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>

                <xs:element name="Street" type="xs:string" minOccurs="0"/>

                <xs:element name="City" type="xs:string" minOccurs="0"/>

                <xs:element name="Password" type="xs:string" minOccurs="0"/>

            </xs:sequence>
        </xs:complexType>

    </xs:element>

</xs:schema>